<div class="col-md-6 mx-auto">
    <h2>{{vm.titulo}}</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Código:</label>
                <input ng-model="vm.animal.codigo" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Raça:</label>
            <input ng-model="vm.animal.raca" type="text" class="form-control">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Idade Média:</label>
                <input ng-model="vm.animal.idadeMedia" type="number" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Porte:</label>
                <input ng-model="vm.animal.porte" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Cor:</label>
            <input ng-model="vm.animal.cor" type="text" class="form-control">
        </div>
        <div class="text-right">
            <button ng-click="vm.save()" type="button" class="btn btn-primary">Salvar</button>
            <button ui-sref="animalList" type="button" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
</div>
