<div class="col-md-8 mx-auto">
    <h2>{{vm.titulo}}</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Emissão:</label>
                <input ng-model="vm.pedido.emissao" readonly type="datetime-local" class="form-control text-right">
            </div>
            <div class="form-group col-md-6">
                <label>Cartão fidelidade:</label>
                <input ng-model="vm.animal.cartaoFidelidade" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Cliente:</label>
            <select 
                class="form-control"
                ng-model="vm.adote.cliente"
                ng-options="item as item.nome for item in vm.clientes track by item._id">
            </select>
        </div>
        <div class="form-group">
                <label>Animal:</label>
                <select 
                    class="form-control"
                    ng-model="vm.adote.animal"
                    ng-options="item as item.raca for item in vm.animal track by item._id">
                </select>
         </div>
        <div class="text-right">
            <button ng-click="vm.save()" type="button" class="btn btn-primary">Salvar</button>
            <button ui-sref="adoteList" type="button" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
</div>
